<div class="social-share">
  <h4>Partager sur</h4>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }} {{ site.url_prod }}{{ page.url }}" class="twitter" title="Partager sur Twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.title }} {{ site.url_prod }}{{ page.url }}" class="facebook" title="Partager sur Facebook"><i class="fa fa-facebook"></i><span> Facebook</span></a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url={{ page.title }} {{ site.url_prod }}{{ page.url }}" class="google-plus" title="Partager sur Google Plus"><i class="fa fa-google-plus"></i><span> Google+</span></a>
    </li>
  </ul>
</div><!-- /.social-share -->